@use "../../App.scss"as *;

.movie-card {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: $border-radius;
    margin-bottom: 1rem;
    height: 15rem;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $black;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: $border-radius;
    }

    &:hover::before {
        opacity: 0.5;
    }
}

.movie-container{
    display: block;
    margin: auto;
    margin-top:10%;
    width: 10rem;
}